@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/*
https://color.adobe.com/rodneymartinezme---dark-theme-color-theme-10558437/edit/?copy=true&base=2&rule=Custom&selected=3&name=Copy%20of%20rodneymartinezme%20-%20dark%20theme&mode=hsv&rgbvalues=0.6960000000000001,0.71159979200001,0.8,0.4472,0.45933328480002217,0.52,0.1827,0.1867949454000026,0.21,0.10440003119999637,0.10439999999999999,0.12,0.07,0.07,0.07&swatchOrder=0,1,2,3,4
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
}

html body {
  margin: auto;
  background: #1B1B1F;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, p, footer, nav, a, li, footer {
  color: white;
}

h1 {
  font-size: 48px !important;
  text-align: left;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 15px;
  letter-spacing: 2.5px;
}

p {
  letter-spacing: 1.0px;
  font-size: 16px;
}

iframe {
  width: 100% !important;
}